doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        ul  
            li #[a Home ]
            li #[a About ]
            li #[a Services ]
            li #[a Contact Us ]
            li #[a Class Info ]
    section#introSection 
        div Welcome to Dance Academy 
        div.small EAT | SLEEP | DANCE | REPEAT

    section#missionSection
        h2  Our Mission
        div.card 
            p This is a para

    section#sponsorSection 
        h2 Our Sponsors

    footer#footer   
        | Our footer here
    script
      include ../static/index.js